/* Made with http://icomoon.io/ */
@font-face {
	font-family: 'pixelfabric-clothes';
	src:url('fonts/icomoon.eot?dsm1zy');
	src:url('fonts/icomoon.eot?#iefixdsm1zy') format('embedded-opentype'),
		url('fonts/icomoon.ttf?dsm1zy') format('truetype'),
		url('fonts/icomoon.woff?dsm1zy') format('woff'),
		url('fonts/icomoon.svg?dsm1zy#pixelfabric-clothes') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: 'pixelfabric-clothes';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon--film:before {
	content: "\e913";
}
.icon--road:before {
	content: "\e9b1";
}
.icon--image:before {
	content: "\e90d";
}
.icon--truck:before {
	content: "\e9b0";
}
.icon--tablet:before {
	content: "\e95a";
}